.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ul {
    list-style-type: none;
}

.body {
    padding: 2em auto;
    margin: 2em;
}

.table {
    float: right;;
    border: 1px solid gray;
    padding: 1em;
    margin: 1em;
}

.table-box {
    padding: 1em;
}

.text-center {
    text-align: center;
}

.img {
    padding: 1em;
}

.t-size {
    font-size: medium large;
}

.img-left {
    float: left;
}

.vid-right {
    float: right;
}
